{% load static %}
<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/muhammad-ibrahim-091708217/">
            <img
              class="main-footer__icon"
              src="{% static 'assets/png/linkedin-ico.png' %}"
              alt="icon"
            />
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/mibrahimbashir">
            <img
              class="main-footer__icon"
              src="{% static 'assets/png/github-ico.png' %}"
              alt="icon"
            />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">Ibrahim Bashir</h4>
        <p class="main-footer__short-desc">
          A certified Data Scientist focusing on data driven analytics and building solutions using Machine Learning which empower businesses and provide competitive edge.
        </p>
      </div>
    </div>
</footer>