{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ibrahim Bashir | Data Scientist</title>
    <!-- <meta name="description" content="Ibrahim Bashir's Portfolio Website" /> -->
    <meta name="description" content="A certified Data Scientist focusing on data driven analytics and building solutions using Machine Learning which empower businesses and provide competitive edge.">
    <meta name="author" content="Ibrahim Bashir">
    <meta property="og:title" content="Ibrahim Bashir | Data Scientist | SQL Database Manager">
    <meta property="og:site_name" content="Ibrahim Bashir's Portfolio Website">
    <meta property="og:url" content="https://www.ibrahimbashir.dev/">
    <meta property="og:description" content="A certified Data Scientist focusing on data driven analytics and building solutions using Machine Learning which empower businesses and provide competitive edge.">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

  {% include 'header.html' %}
	<section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">Hey, I'm Ibrahim Bashir</h1>
        <div class="home-hero__info">
          <p class="text-primary">
            A certified Data Scientist focusing on data driven analytics and building solutions using Machine Learning which empower businesses and provide competitive edge.
          </p>
        </div>
        <div class="home-hero__cta">
          <a href="./#projects" class="btn btn--bg">Projects</a>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/muhammad-ibrahim-091708217/" class="home-hero__social-icon-link" target="_blank" rel="noreferrer">
            <img
              src="{% static 'assets/svg/linkedin-dark.svg' %}"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://github.com/mibrahimbashir" class="home-hero__social-icon-link" target="_blank" rel="noreferrer">
            <img
              src="{% static 'assets/svg/github-dark.svg' %}"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
      </div>
      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">About Me</span>
          <span class="heading-sec__sub">
            Here you will find more information about me, what I do, and my current skills and most importantly what services I can offer that benefit you. 
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Get to know me!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Hey! It's
                <strong>Ibrahim Bahir</strong> &#128075; 
                , I'm a <strong> Certified Data Scientist </strong> and a <strong> SQL Database Manager</strong> located in
                Bahawalpur, Pakistan. I work on <em style="font-style: normal;">statistical</em> data analysis offering insights to businesses and idividuals through visualizations and advanced machine learning tools.
              </p>
              <p class="about__content-details-para">
               Over the years I have learned many differnt technologies to better service my clients. Besides Data Science, I love working on <strong>Full Stack Web Development</strong>, <strong>Web Data Extraction</strong>, and <strong> Browser Automation</strong> projects. Check out some of my work in the <strong>Projects</strong> section.
              </p>

              <p class="about__content-details-para">
                Convinced yet? Connect with me on <a rel="noreferrer" href="https://www.linkedin.com/in/muhammad-ibrahim-091708217/" target="_blank">Linkedin</a> and you can also check out more of my projects on <a rel="noreferrer" href="https://github.com/mibrahimbashir" target="_blank">Github</a>. Press the contact button below and I will reply as soon as possible.
              </p>
            </div>
            <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contact</a
            >
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              <div class="skills__skill">Python</div>
              <div class="skills__skill">SQL</div>
              <div class="skills__skill">Data Analysis</div>
              <div class="skills__skill">Machine Learning</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">Data Extraction</div>
              <div class="skills__skill">Selenium</div>
              <div class="skills__skill">Django</div>
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">SASS</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">GitHub</div>
              <div class="skills__skill">Automation</div>
              <div class="skills__skill">Responsive Design</div>
              <div class="skills__skill">Scrapy</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projects</span>
          <span class="heading-sec__sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
        </h2>

        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="{% static 'assets/jpeg/project-mockup-example.jpeg' %}"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 1</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="{% url 'project-1' %}"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="{% static 'assets/jpeg/project-mockup-example.jpeg' %}"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 2</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
              href="{% url 'project-2' %}"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="{% static 'assets/jpeg/project-mockup-example.jpeg' %}"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 3</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
              href="{% url 'project-3' %}"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact sec-pad dynamicBg">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main heading-sec__main--lt">Contact</span>
          <span class="heading-sec__sub heading-sec__sub--lt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
        </h2>
        <div class="contact__form-container">
          <form action="{% url 'home' %}" method="POST" class="contact__form">
            {% csrf_token %}
            <div class="contact__form-field">
              <label class="contact__form-label" for="name">Name</label>
              <input
                required
                placeholder="Enter Your Name"
                type="text"
                class="contact__form-input"
                name="name"
                id="name"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="email">Email</label>
              <input
                required
                placeholder="Enter Your Email"
                type="email"
                class="contact__form-input"
                name="email"
                id="email"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="message">Message</label>
              <textarea
                required
                cols="30"
                rows="10"
                class="contact__form-input"
                placeholder="Enter Your Message"
                name="message"
                id="message"
              ></textarea>
            </div>
            <button type="submit" class="btn btn--theme contact__btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
